.nav__container{
    border-bottom: solid rgb(204, 204, 204);
}
.button__nav {
    width: 150px;
}

.nav__form{
    width: 100%;
}
.nav__input--search{
    width: 400px;
    border: solid 1px;
    border-radius: 7px;
    border-color: rgb(175, 175, 175);
    padding-left: 10px;
}

.nav__input--icon{
    margin-left: 1rem;
    display: flex;
    align-content: center;
}
.nav__input--profile{
    width: 38px;
    height: 100%;
    border: solid;
    border-radius: 360px;
}

.aside__list--item{
    :hover{
        background-color: rgb(223, 218, 250);
        text-decoration:underline;
    }
}

.socialNet-icon {
    color: rgb(116, 116, 116);
}

.socialNet-icon:hover {
    color: #2d3af0 !important;
}

.nav__search--input{
    :focus{
        border-color: #2d3af0;
    }
}



